body {
    width: 98vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.eu img {
    width: 80px;
    height: 80px;
}

.imagem {
    width: 80px;
    height: 80px;
}

.titulo {
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo h3 {
    margin-bottom: 0;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu h4 {
    margin-top: 10px;
}

.principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 340px;
    height: 340px;
    margin: 1px;
}

.cav {
    width: 680px;
}